<nav class="nav">
  <h1 class="nav__logo">Blog<span>App</span></h1>
  <div class="nav__links">
    <a class="<%= path === "/blogs" ? "active" : "" %>" href="/">Blog</a>
    <a class="<%= path === "/user/post-blog" ? "active" : "" %>" href="/user/post-blog">Add Blog</a>
  </div>
</nav>